@import "tailwindcss";

@theme inline {
  --color-primary: #00407a;
  --color-secondary: #6366f1;
  --color-accent: #a855f7;
  --color-background-light: #f8f9ff;
  --color-background-dark: #0a1120;
  --font-display: var(--font-lexend);
}

body {
  font-family: var(--font-lexend), sans-serif;
}

html {
  scroll-behavior: smooth;
}
